body{

    background-color: #FAFAFA;
    color: #4b4f54;

}

/*
//
//      PROFILE PAGE
//
*/

#profileheader{
    margin: 30px 0 50px 0;
}

#fullname{
    display: inline;
    font-size: 1em;
    font-weight: bold;
}
.profilepic img{
    /*width: 150px;
    height: 150px;*/
    border-radius: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilestats{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.profilestats li{
    padding-right: 40px;
}

#usernamewrap{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#usernamewrap h1{
    margin: 0 20px 0 0;
}

/*
//
//      HOMEPAGE
//
*/


.postTimeline{
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid #eee;
	margin-bottom: 25px;
}

.postHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.postUser img{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
}

.postUser a{
	font-size: 1.1em;
	color: #31618B;
	font-weight: 300;
}

.postTimestamp{
	margin-top: 20px;
	color: #a2a2a2;
	margin-right: 15px;
}

.postTimeline .postImage{
	width: 100%;
	display: block;
}

.postImage img{
	max-width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#searchResults {
    display: none;
    top:40px;
    position: relative;;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    width: 200px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: -30px;
    margin-top: 0px;
	margin-bottom: 0;
    text-align: left; /* enkel nodig als zoekbox in het midden staat */
}

#searchResults img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 5px;
}
#searchResults:after,
#searchResults:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
	position: absolute;
    pointer-events: none;
	display: block;

}

#searchResults:after {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #ffffff;
    border-width: 14px;
    left: 50%;
    margin-left: -14px;
}
#searchResults:before {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #c4c4c4;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
}
/*
//
//      LOGIN PAGE + SIGN UP PAGE
//
*/


/*
//
//      EDIT PROFILE PAGE
//
*/


/*
//
//      NAVIGATION
//
*/

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-brand img{
    height: 35px;
}

.hashtagSearch{
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: -2px;
	float: left;
	color: black;
	font-size: 1.5em;
	color: #a2a2a2;
	text-decoration: none;
	position: absolute;
}

.searchTag a{
	margin-left: 55px;
}

.searchTag{
	margin-bottom: 10px;
}

/* maakt glyphicons groter */
nav li a{
    font-size: 1.5em;
}

/* centers search in nav */
nav .navbar-form{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

/*
//
//      DETAIL POST PAGE
//
*/

#btnLike{
    display: block;
    height: 34px;
    width: 38px;
    text-indent: -9999px;
    background-image: url('../images/heart-sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.liked{
    background: url('../images/heart-sprite.png') -38px 0
}

#singlePostImg{
    display: block;
    max-width: 100%;
}

.detailpostHeader img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 15px;
}

.detailpostHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
}

.detailpostRow{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px 0 20px 0
}

.detailpostLikesAndTime{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    font-weight: bold;
}


/*
//
//      TAG
//
*/

.tagpageHeader{
    text-align: center;
}

.tagpageHeader span{
    font-weight: bold;
}